
{{ define "style"}}
  <link rel="stylesheet" type="text/css" href="../../static/css/blog/list.css" />
{{ end }}

{{ define "main" }}
    <h1>Blog</h1>
    <p>
      I'll occasionally write a post whenever I feel like it. Topics are including but not limited to: AI and math tutorials, film/music/literature reviews, and general musings on life. 
    </p>
    {{ range .Pages }}

      <div class="post">
        <a href="{{.Permalink}}" class="post-link"></a>
          <h2>{{ .Title }}</h2>
        </a>
      </div>
      
    {{ end }}
{{ end }}