
{{ define "style"}}
  <link rel="stylesheet" type="text/css" href="/css/bucket_list/list.css" />
{{ end }}

{{ define "main" }}
    <h1>Goals</h1>
    <p>
      This is an ongoing list of goals or aspirations that I want to achieve in my lifetime. I started my bucket list in April of 2025 and hope to keep crossing things off as life goes on!
      <br>
      <br>
      <b>School</b><br>
      1. Finish High School <br>
      2. Visit my Middle School teachers before graduating <br>
      3. Attend a Top 10 school (preferably one in a city) <br>
      4. Play Squash in College <br>
      5. Go to my 20 year High School and College Reunions <br>
      6. Go to my 50 year High School and College Reunions <br>
      7. Keep in touch with people I went to school with <br>
      <br>
      <b>Career</b> <br>
      1. Start a Company that reachs $100mil+ in yearly revenue <br>
      2. Start my own VC Fund OR start my own Berkshire-style holding company <br>
      3. Become a billionaire <br>
      4. Use wealth and influence to advocate for beneficial social change <br>
      5. Buy out a company <br>
      6. Travel regularly for work <br>
      7. Build a Quantum Computer <br>
      8. After a couple successful companies, become a professor. <br>
      <br>
      <b>Travel (this is gonna be a long one)</b> <br>
      1. Visit Every Continent <br>
      2. Know at least 3 cities extremely well <br>
      3. Climb to Everest Base Camp <br>
      4. Live in Cairo <br>
      5. Live in Brazil <br>
      6. Live in London <br>
      7. Live in NYC <br>
      8. Live in Dubai <br>
      9. Live in Singapore <br>
      10. Live in Hong Kong <br>
      11. Revisit Mediterranean roots <br>
      12. Learn Spanish, Arabic, German (completed 2024), and Mandarin. <br>
      13. Own property in 3 different continents <br>
      14. Surf in Hawaii <br>
      15. See Macchu Picchu <br>
      16. See the Northern Lights <br>
      17. Go to Disneyland and Universal Studios Orlando at least 10 more times <br>
      18. Go to Oktoberfest <br>
      19. Go on a Serengeti Safari <br>
      20. Live/Work in Oxford University for at least a year <br>
      21. GO TO A COLDPLAY CONCERT <br>
      22. Go to 10 concerts total <br>
      23. Attend Wimbledon Center Court <br>
      24. Go to Glastonbury <br> 
      25. Watch the Olympics live <br>
      26. Attend a Major Film Premiere <br>
      27. Go to the Oscars and the Met Gala <br>
      28. Be invited to Buckingham Palace <br>
      29. Be invited to the White House <br>
      <br>
      <b>Fitness</b> <br>
      1. Bench Press 300 lbs. <br>
      2. 10 Pullups <br>
      3. Complete an Iron Man <br>
      4. Play Golf well <br>
      5. Play Basketball well <br>
      6. Learn Surfing <br>
      7. Be an avid skiier <br>
      <br>
      <b>Life</b> <br>
      1. Get married and have 2 kids <br>
      2. Save everything that I can from my childhood and life for memories <br>
      3. Write a memoir <br>
      4. Be featured in Forbes magazine and the New York Times <br>
      5. Start a foundation <br>
      6. Advocate for US Education Reform <br>
      7. Donate a school to my alma mater <br>
      8. Keep in touch with or reach out to all of my close friends from my first 20 years alive <br>
      9. Own sitcom keepsakes from the original sets of 5 of my favorite sitcoms. <br>
      10. Rewatch How I Met Your Mother <br>
      11. Have a global network of diverse, loving, and truly valuable friends. <br>
      

    </p>
{{ end }}