
{{ define "style"}}
  <link rel="stylesheet" type="text/css" href="/css/reading_list/list.css" />
{{ end }}

{{ define "main" }}
    <h1>Reading List</h1>
    <p>
      Welcome to my ongoing personal book wall. Books have always been an important part of my life, and these books especially have made a powerful impact on me as a individual. Don't take my taste as gospel, but I think that I have some pretty good takes :) <br><br>
      <b>To Be Read:</b><br>
      1. Tiny Experiments by Anne-Laure Le Cunff <br>
      2. Babel: An Arcane History by R.F. Kuang <br>
      3. Foundation by Isaac Asimov <br>
      4. A Man For All Markets by Edward O. Thorp <br>
      5. A Random Walk Down Wall Street by Burton Malkiel <br>

    </p>
{{ end }}